@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/***** Navigation Menu ******/

#top_nav {
  background-color: #4c7ea5;
  padding: 0.2% 8%;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}
.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 40px;
  padding-right: 5%;
  font-weight: bolder;
}
.content {
  background-image: linear-gradient(rgba(13, 35, 126, 0.6), rgba(4, 9, 30, 0.6)),
    url("images/img1.jpeg");
  width: 100%;
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 60%;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.nav-link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 992px) {
  #top_nav {
    padding: 10px 20px;
  }
  .navbar-nav {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-dark .navbar-nav .nav-link {
    display: flex;
  }
  .icon {
    margin-right: 12px;
  }
  .container-fluid .content {
    min-height: 80vh;
  }
  .container-fluid .banner h1 {
    font-size: 62px;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 70%;
  }
}
 @media (max-width: 768px) {
  .navbar-dark .navbar-brand {
    font-size: 30px;
  }
.container-fluid {
    min-height: 60vh;
  }
  .container-fluid .banner h1 {
    font-size: 46px;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 50%;
  }
} 

@media (max-width: 576px) {
  .navbar-dark .navbar-brand {
    font-size: 20px;
  }
  .navbar-dark .navbar-nav{
    padding:10px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 16px;
    text-align: right;
  }
  .nav-link .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 0px;
  }
  .container-fluid {
    min-height: 50vh;
  }
  .container-fluid .banner h1 {
    font-size: 36px;
  }
}


@media (max-width: 500px) {
  .container-fluid {
    min-height: 40vh;
  }
  .container-fluid .banner h1 {
    font-size: 30px;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 40%;
  }
}

/******** Welcome Section **********/

section .sec_aboutus {
  width: 100%;
  height: 80vh;
}
.sec_aboutus h1 {
  margin-top: 30px;
  text-align: center;
  text-decoration: 3px solid yellowgreen underline;
}
#servicetext {
  padding: 5% 5%;
  text-align: justify;
  line-height: 35px;
}
#serviceimg {
  padding: 5%;
}
@media only screen and (max-width: 992px) {
  #servicetext {
    padding: 0px;
    margin: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #servicetext {
    padding: 50px;
    margin: 0px;
    line-height: 35px;
  }
  #serviceimg {
    padding-bottom: 10%;
  }
}
@media only screen and (max-width: 768px) {
  #servicetext {
    padding: 30px;
    line-height: 25px;
  }
}


/****** Facilities Section *****/

.facilities-heading h1 {
  text-align: center;
  text-decoration: 4px solid yellowgreen underline;
}
#facilitiestext {
  padding-top: 5%;
  padding-bottom: 4%;
  margin-left: 9%;
}
#facilitiesbtn {
  margin: 20px;
  background-color: #2355c9;
  color: white;
  border: 2px solid #fcc302;
}
#facilitiesimg {
  padding-top: 5%;
}
.icon {
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  #facilitiesimg {
    padding-top: 10%;
  }
}

/****** Statistics Section *****/

 .statistics {
  width: 100%;
  height: 50vh;
}
.stat_title {
  text-align: center;
  margin: 20px;
  text-decoration: 4px solid lawngreen underline;
}
.stat_heading {
  margin-left: 15%;
}
.stat_heading .num h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 90px;
  color: rgb(86, 86, 161);
}
.stat_heading .num p {
  font-size: 18px;
  font-weight: 500;
}
.divider {
  position: absolute;
  background: #ff9900;
  top: 50%;
  right: 25%;
  width: 3px;
  height: 85px;
  transform: rotate(20deg);
}
@media only screen and (max-width: 768px) {
  .stat_heading {
    display: flex;
    flex-wrap: wrap;
  }
  .stat_heading .num h1 {
    margin: 20px;
  }
  .divider {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .statistics {
    height: 70vh;
  }
}

@media only screen and (max-width: 576px) {
  .statistics {
    height: 70vh;
  }
  .stat_title {
    font-size: 30px;
  }
  .stat_heading .num {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stat_heading .num h1 {
    font-size: 30px;
  }
} 






.footer {
  background-color: black;
  color:white;
  padding: 60px 10px;
  text-align: justify;
}

.footer_sec .ico {
  font-size: 20px;
  padding: 5px;
}
.footer_sec .icon {
  font-size: 20px;
  border: 1px solid white;
  padding: 5px;
}
hr{
  margin: 0 100px;
  background-color: white;
}
.end_footer{
  margin: 20px;
  text-align: center;
}
.company{
  color:orange;
  font-weight: bold;
}